{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid h-100 login-page-container"> 
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="card-title text-center">{% trans "Sign In" %}</h3>
          <p class="text-center">
            {% blocktrans %}Welcome back to the DailyFinancePulse! To leave a comment or like a post, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
          </p>
          
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
